:root {
  --primary: #f03f57;
  --secondary: #ff7789;
  --tertiary: #ff9277;
  --shadow: 0px 10px 20px 2px rgba(0,0,0,0.08), 0px 10px 5px -8px rgba(0,0,0,0.02);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: rgb(71, 67, 64);
  position: relative;
}

body::-webkit-scrollbar {
  width: .5em;
  background-color: white;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(247, 165, 165);
}

/* ---Nav Style--- */
/* ---------------- */

header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 100;
  height: 65px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
}

nav {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  color: var(--primary);
}

.logo {
  font-weight: 600;
  padding: 8px;
  align-self: center;
  text-decoration: none;
  color: var(--primary);
  margin: 0;
  font-family: 'Damion', cursive;
  font-size: 2em;
  margin-left: 20px;
}

.nav-link {
  font-weight: 600;
  padding: 8px;
  align-self: center;
  text-decoration: none;
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 8px;
  margin-right: 20px;
}

/* ---Main Styles--- */
/* ---------------- */

main {
  display: grid;
  justify-items: center;
  text-align: center;
}

.hero {
  display: grid;
  background: white;
  height: 60vh;
  width: calc(100% - 40px);
  max-width: 1200px;
  align-items: center;
  border-radius: 5px;
  margin-top: 100px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.hero h1 {
  font-weight: 400;
  letter-spacing: .1em;
  font-feature-settings: "liga" 0;
  font-size: 2em;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

.hero h3 {
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: .75em;
  word-spacing: 1em;
}

.hero .container {
  display: grid;
  text-align: center;
  justify-items: center;
}

.face {
  position: absolute;
  background-image: url(../img/portrait.jpg);
  height: 200px;
  width: 200px;
  top: 5px;
  left: 5px;
  box-shadow: inset 0 0 15px 5px rgba(0,0,0,.25);
  background-size: contain;
  border-radius: 50%;
}

.face-bg {
  position: relative;
  height: 210px;
  width: 210px;
  border-radius: 50%;
}

/* ---Bio Styles--- */
/* ---------------- */

.bio {
  background: var(--primary);
  background-position: center;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 150px;
}

.bio p {
  width: 80%;
  max-width: 1100px;
  font-size: 1.5em;
  color: white;
  margin: auto;
  padding-top: 50px
}

.skills {
  margin: auto;
  margin-top: -100px;
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  max-width: 800px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.skills-h3 {
  color: var(--primary);
}

.list-h4 {
  font-family: 'Open Sans';
  font-weight: 400;
  color: var(--primary);
  margin-bottom: 0;
}

.skills-p {
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}

.skills ul {
 list-style: none;
 padding: 0;
 font-family: 'Open Sans';
 font-weight: 300;
}

.list {
  width: 50%;
}

.card {  
  background: white;
  border: 1px var(--primary) solid;
}

.card i {
  color: var(--primary);
}

.card-bottom {
  grid-column: span 2;
  display: flex;
  width: 100%;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  justify-content: center;
}

.card-left {
  border-top-left-radius: 10px;
  border-right: 0;
  padding-top: 25px;
}

.card-right {
  border-top-right-radius: 10px;
  padding-top: 25px;
}

/* ---Portfolio Styles--- */
/* ---------------- */

.portfolio {
  margin-top: 50px;
  background: white;
  width: 100%;
  display: grid;
  border-top: 5px var(--primary) solid;
  border-bottom: 5px var(--primary) solid;
  grid-template-rows: auto;
  align-content: center;
  padding-bottom: 25px;
}

.portfolio h1 {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.item-container {
  margin: 10px;
  position: relative;
}

.gallery-item-overlay {
  position: absolute;
  color: white;
  background: rgba(0,0,0,.75);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 98.7%;
  bottom: 4px;
  border-radius: 5px;
  -webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

.gallery-description {
  margin: 0;
  margin-bottom: 15px;
}

.gallery-title {
  margin: 0;
  margin-bottom: 15px;
}

.gallery-item-overlay > * {
  transition: opacity .6s ease-in-out;
}

.gallery-item-overlay:hover {
  opacity: 1;  
}

.gallery-item-overlay:hover > * {
  opacity: 1;
}

.gallery-button {
  background: linear-gradient(-30deg,  var(--tertiary),var(--secondary), var(--primary) );
  cursor: pointer; cursor: hand;
}

.code-button-container {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-items: center;
}

.gallery-link {
  text-decoration: none;
  color: white;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  width: 100%;
  max-width: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

/* ---Contact Styles--- */
/* ---------------- */

.contact {
  padding-top: 25px;
  padding-bottom: 50px;
  display: grid;
  width: 100%;
  background: var(--primary);
}

.contact-heading {
  color: white;
  font-family: 'Open Sans'
}

.contact-form {
  width: auto;
  min-width: 200px;
  justify-self: center;
  text-align: left;
  border: rgba(255, 255, 255, .25) solid 1px;
  border-radius: 5px;
}

.contact-form * {
  display: block;
}

.form-input {
  color: rgb(71, 67, 64);
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 30px;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.25);
  font-size: 1em;
  min-width: 200px;
}

.form-message {
  min-width: 200px;
  max-width: 700px;
  min-height: 4em;
  max-height: 15em;
  font-family: 'Open Sans', sans-serif;
}

.form-button {
  background: linear-gradient(-30deg,  var(--tertiary),var(--secondary) );
}

button {
  color: white;
  width: 125px;
  height: 50px;
  border: rgba(255, 255, 255, .5) solid 1px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px auto;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

.form-label {
  color: white;
  font-weight: 400;
  margin: 5px;
}

footer {
  padding: 10px 0px 10px 0;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 10px 0 0 0;
  font-size: .75em;
}

.code-icon {
  color: var(--primary);
  margin: 5px;
}

@media screen and (max-width: 425px) {
  button {
    height: 25px;
    width: 100px;
    margin-bottom: auto;
  }

  .gallery-description {
    margin: 0;
  }

  .gallery-title {
    margin-bottom: 5px;
  }

  
}